# Unity project under LivingBooks/
LivingBooks/[Ll]ibrary/
LivingBooks/[Tt]emp/
LivingBooks/[Oo]bj/
LivingBooks/[Bb]uild/
LivingBooks/[Bb]uilds/
LivingBooks/[Ll]ogs/
LivingBooks/[Uu]ser[Ss]ettings/
LivingBooks/*.log

LivingBooks/[Mm]emoryCaptures/
LivingBooks/[Rr]ecordings/

# Plugins & Editor files
LivingBooks/[Aa]ssets/Plugins/Editor/JetBrains*

# IDE stuff
LivingBooks/.vs/
LivingBooks/.gradle/
LivingBooks/ExportedObj/
LivingBooks/.consulo/
LivingBooks/*.csproj
LivingBooks/*.unityproj
LivingBooks/*.sln
LivingBooks/*.suo
LivingBooks/*.tmp
LivingBooks/*.user
LivingBooks/*.userprefs
LivingBooks/*.pidb
LivingBooks/*.booproj
LivingBooks/*.svd
LivingBooks/*.pdb
LivingBooks/*.mdb
LivingBooks/*.opendb
LivingBooks/*.VC.db

# Crash reports & builds
LivingBooks/sysinfo.txt
LivingBooks/*.apk
LivingBooks/*.aab
LivingBooks/*.unitypackage
LivingBooks/*.app
LivingBooks/crashlytics-build.properties

# Addressables & StreamingAssets
LivingBooks/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
LivingBooks/[Aa]ssets/[Ss]treamingAssets/aa.meta
LivingBooks/[Aa]ssets/[Ss]treamingAssets/aa/*

# Optional: macOS / Windows OS junk
.DS_Store
Thumbs.db
